<div class="yellow-banner">
  <%= image_tag 'yellow-wave.svg', class: "wave-bottom" %>
</div>

<div class="container user-DB">

  <div class="profile-image-wraper">
    <%= cl_image_tag(@user.image, width: 400, height: 400, gravity: :face, crop: :thumb, class: "profile-image") %>

    <% if @user.notifications > 0 %>
      <div class="user-notif">
        <h4>Tâches en attente :</h2>
          <% @user.tasks.where("status = ?", "A faire").each do |task| %>
            <p>
              <%= task.name  %>
              <%= link_to project_dashboard_path(task.project) do %>
                <i class="fas fa-hand-point-right"></i>
              <% end %>
            </p>
          <% end %>
      </div>
    <% end %>
  </div>

  <div class="profile-info">
    <h1><%= @user.name %></h1>
    <p><%= @user.description %></p>
    <p>Mes compétences :</p>
    <ul class="list-inline">
      <% @user.skills.each do |skill| %>
        <li class="list-inline-item"><%= skill.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="profile-buttons">
    <% unless @user_current_project.nil? %>
      <%= link_to project_dashboard_path(@user_current_project), class: "btn-black" do %>Mon projet en cours
      <% end %>
    <% end %>
  </div>

  <div class="m-5"></div>

</div>
