<div class="container-test">

  <div class="profile">
    <div class="profile-design">
      <%= cl_image_tag @user.image,:transformation=>[{:width=>1600, :height=>1600, :gravity=>"face", :crop=>"crop"}], class: "profile-image" %>
       <%= image_tag 'weirdo.svg', class: "weirdo"%>
       </div>
       <div class="profile-info">
      <p>Nom : <%= @user.name %></p>
      <p>Description : <%= @user.description %></p>
      <p>Mon niveau : <%= @user.level %></p>
      <p>Mes compétences :</p>
      <ul>
        <% @user.skills.each do |skill| %>
          <li><%= skill.name %></li>
        <% end %>
      </ul>
      </div>
  </div>

  <div class="col" id="notifs">
      <h2>Mes notifications</h2>
      <p>Bla bla bla</p>
    </div>

  <div class="row">
    <div class="col" id="en_cours">
      <h2>Mon projet en cours</h2>

      <% if @user_current_project.nil? %>
        <p>Vous n'avez pas encore de projet en cours !</p>
        <p><%= link_to 'Découvrez les projets', projects_path  %></p>

      <% else %>

      <h3>"<%= @user_current_project.name %>"</h3>
      <%= cl_image_tag @user_current_project.image, width: 400 %>
      <p>Description : <%= @user_current_project.description %></p>
      <p>Catégorie : <%= @user_current_project.development_goal %></p>
      <p>Projet porté par cette association : <%= @user_current_project.charity.name %></p>

      <% end %>
    </div>
    <div class="col" id="past">
      <h2>Mes projets passés</h2>
      <p>Bla bla bla</p>
      <ul>
        <% @user_past_projects.each do |past_project| %>
          <li><%= past_project.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
