<div class="ressources-container">

  <div class="ressources-block ressources-list">
    <h4>Fichiers à télécharger</h4>
    <% if !@project.ressources.any? %>
      <p>Il n'y a aucun fichier disponible pour le moment</p>
    <% else %>
      <%= simple_form_for(:search, url: project_ressources_path(@project), method: :get, html: { id: 'ressources-form' }, remote: true) do |f| %>
        <%= f.input :content_type, as: :check_boxes, collection: ['jpg', 'csv', 'pdf'], input_html: { checked: true} %>
        <%= f.button :submit %>
      <% end %>
      <div id="ressources-container">
        <%= render "projects/ressources_display", ressources: @project.ressources %>
      </div>
    <% end %>
  </div>

  <div class="ressources-block ressources-upload">
    <h4>Ajouter une ressource</h4>
    <p>Téléversez un fichier csv, jpg ou pdf</p>
    <div class="file-upload">
      <%= simple_form_for [@project, Ressource.new], html: { class: "form-ressources"} do |f| %>
        <%= f.input :name, label: "Nom de la ressource" %>
        <%= f.input :source, label: "Fichier" %>
        <%= f.input :source_cache, as: :hidden %>
        <%= f.button :submit, class: "btn-ressource", value: "Créer la ressource" %>
      <% end %>
    </div>
  </div>

</div>
