<div class="row">

  <div class="project-bar">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: <%= @project.progression_percent %>%"></div>
    </div>
    <p id="decompte">J - <span id="counter-target" data-counterstart="<%= @project.total_days %>" data-counterend="<%= @project.remaining_days %>"></span> !</p>
  </div>

  <div class="project-card col-sm-4">
    <div class="test-card for-dashboard">
      <h4 class="task-title">L'équipe</h4>
      <% @project.commitments.each do |commitment| %>
        <div class="pdb-team-member">
          <%= image_tag 'weirdo.svg', class: "small-weirdo" %>
          <%= cl_image_tag(commitment.user.image, width: 120, height: 120, gravity: :face, crop: :thumb, class: "avatar relative-weirdo") %>
          <span><strong><%= commitment.user.name %></strong><br><%= commitment.skill.name %></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="project-card col-sm-4">

    <div class="test-card for-dashboard">
      <h4 class="task-title">Prochaine tâche à venir</h4>
      <% if @project.tasks.where("status = 'A faire' and user_id = ?", current_user.id).any? %>
        <% @upcoming_task = @project.tasks.where("status = 'A faire' and user_id = ?", current_user.id).order("end_date ASC").first %>

        <div class="project-cards">
          <div class="project-task-card border-top border-bottom">
            <%= cl_image_tag(@upcoming_task.user.image, width: 120, height: 120, gravity: :face, crop: :thumb, class: "avatar avatar-new") %>
            <div class="project-task-bandeau">
              <div class="colored-info">
                <% if @upcoming_task.priority_level == "Normale" %>
                  <p class="task-status btn-yellow btn-basic" > <%= @upcoming_task.priority_level%></p>
                <% elsif @upcoming_task.priority_level == "Prioritaire" %>
                  <p class="task-status btn-red btn-basic" > <%= @upcoming_task.priority_level%></p>
                <% else %>
                  <p class="task-status btn-orange btn-basic" > <%= @upcoming_task.priority_level%></p>
                <% end %>
                <p class="task-end btn-basic btn-calendar"><i class="far fa-clock task-clock">  </i>  <%= @upcoming_task.end_date.strftime('%d %b') %></p>
              </div>
              <p class="project-task-name"><%= @upcoming_task.name %></p>
            </div>
            <% if @upcoming_task.status == "A faire" && ((current_user == @upcoming_task.user) || @manager) %>
              <%= simple_form_for [@project, @upcoming_task] do |f| %>
                <button type="submit" name="commit" value="" class="hide-btn" data-disable-with="" >
                  <i class="fas fa-check-circle checked"></i>
                </button>
              <% end %>
            <% end %>
            <%= link_to '' , status_update_path(@upcoming_task), hidden: true, remote: true %>
          </div>
        </div>

        <div style="text-align: center"><%= render 'circles' %></div>
      <% else %>
        <div style="text-align: center">
          <p style="z-index: 1">Vous êtes génial et n'avez pas de tâche à faire</p>
          <div><%= render 'circles' %></div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="project-card col-sm-4">
    <div class="test-card for-dashboard">
      <h4 class="task-title">Prochain évènement</h4>
      <div class="next-event-card">
        <div class="card-image-wraper background-dashboard-card">
        </div>
          <div class="next-event-details">
            <% if @next_participation.nil? %>
              <p>Pas d'évènement à venir</p>
            <% else %>
              <h3><strong><%= @next_participation.event.name %></strong></h3>
              <h4><i class="far fa-calendar-alt"></i> <%= @next_participation.start_time.day %> <%= @next_participation_month %></h4>
              <h4><%= @next_participation.start_time.hour %>h</h4>
              <p><%= @next_participation.event.description%></p>
            <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
