<div>
  <%= cl_image_tag(project.image, width: 200, quality: 30) %>
</div>

<div>
  <h6><%= project.name %></h6>
  <h6><%= project.charity.name %></h6>
  <p><%= project.charity.address %></p>
</div>

<div>
  <%= link_to 'En savoir +', project_path(project), class: "blog-slider__button" %>
</div>
