
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true" style='z-index: 50000;'>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Créer un nouvel évènement!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- <button id="sweet-alert-button" class="d-none">Click me!</button> -->

          <%= simple_form_for [@project, @event] do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs">
              <%= f.input :name %>
            </div>
            <div class="form-inputs">
              <%= f.input :description %>
            </div>
            <div class="form-inputs">
              Date de l'évènement: <span id="start_date"></span>
            </div>
            <div class="form-inputs">
              <%= f.input :hub %>
            </div>
            <div class="form-inputs">
              <%= f.input :start_time %>
            </div>
            <div class="form-inputs">
              <%= f.input :end_time %>
            </div>
              <%= f.hidden_field :participants %>

          <% @project.users.each do |user| %>
            <span class="participation-user-button avatar-participation"><%= user.id %>
            <%= cl_image_tag user.image, crop: :fill, width: 100, gravity: :auto, radius: "max", aspect_ratio: "1:1", class:"avatar" %>
            </span>
          <% end %>

            <div class="form-actions">
              <%= f.submit "Créer l'évènement", class: "btn btn-primary", id: "submit-calendar" %>
            </div>
          <% end %>

          <!-- PARTICIPATIONS -->
        </div>

      </div>
    </div>
  </div>
</div>
