
<div class="mx-auto">
  <ul class="nav margin-left" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active tab-label cool-link" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Vue d'ensemble</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label cool-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendrier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label cool-link" id="roadmap-tab" data-toggle="tab" href="#roadmap" role="tab" aria-controls="roadmap" aria-selected="false">Roadmap</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active tab-content" id="summary" role="tabpanel" aria-labelledby="summary-tab">
    <br>
      <div class="row">
    <div class="project-cards">
      <div class="project-card col-5">
        <%= cl_image_tag @project.image, class: "croped-image-bord"  %>
        <%= image_tag 'weirdo-orange.svg', class: "weirdo-orange"%>
       <h4> <%= @project.name %> </h4>
      </div>


      <div class="project-card col-5">
        <div class="project-task-card">
          <% @upcoming_task = @project.tasks.where(:status ).order("end_date ASC").first %>
          <h4>Prochaine tâche à venir</h4>
          <% if @upcoming_task.priority_level == "optionnelle" %>
            <p class="task-status btn-yellow"> <%= @upcoming_task.priority_level%></p>
          <% elsif @upcoming_task.priority_level == "à faire" %>
            <p class="task-status btn-orange"> <%= @upcoming_task.priority_level%></p>
          <% else %>
            <p class="task-status btn-red"> <%= @upcoming_task.priority_level%></p>
          <% end %>
          <%= @upcoming_task.name %>
          <p class="task-owner">Attribuée à : <%= @upcoming_task.user.name %></p>
          <p class="task-description"><%= @upcoming_task.description %></p>
          <p class="task-description"><%= @upcoming_task.status %></p>
          <p class="task-end"><%= @upcoming_task.end_date %></p>
            <% if @upcoming_task.status == "pending" && ((current_user == @upcoming_task.user) || @manager) %>
              <%= simple_form_for [@project, @upcoming_task] do |f| %>
                <%= f.submit "Marquer cette tâche comme finie", class: "btn-black" %>
              <% end %>
            <% end %>
        </div>
      </div>


      <div class="project-card col-5">
        <!-- complete with next meeting -->
      </div>
    </div>
    </div>

    </div>
    <div class="tab-pane fade tab-content" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
      <br>
      lililili


    </div>
    <div class="tab-pane fade tab-content" id="roadmap" role="tabpanel" aria-labelledby="roadmap-tab">
      <h2>Les tâches du projet</h2>
      <% @project.tasks.each do |task| %>
        <div class="task">
          <p><%= task.name %></p>
          <p>Statut : <%= task.status %></p>
          <p>Attribuée à : <%= task.user.name %></p>
          <p>Niveau de priorité : <%= task.priority_level %> </p>
          <p><%= task.description %></p>
          <% if task.status == "A faire" && ((current_user == task.user) || @manager) %>
            <%= simple_form_for [@project, task] do |f| %>
              <%= f.submit "Marquer cette tâche comme finie", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
        <hr>
      <% end %>
      <% if @manager %>
        <%= link_to "Créer une nouvelle tâche", new_project_task_path(@project) %>
      <% end %>
    </div>
  </div>
</div>
