
<div class="mx-auto">
  <ul class="nav nav-dashboard" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active tab-label" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Vue d'ensemble</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendrier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label" id="roadmap-tab" data-toggle="tab" href="#roadmap" role="tab" aria-controls="roadmap" aria-selected="false">Roadmap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label" id="chatroom-tab" data-toggle="tab" href="#chatroom" role="tab" aria-controls="chatroom" aria-selected="false">Chatroom</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-label" id="fichiers-tab" data-toggle="tab" href="#fichiers" role="tab" aria-controls="fichiers" aria-selected="false">Ressources</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active tab-content " id="summary" role="tabpanel" aria-labelledby="summary-tab">
      <%= render 'db_summary'%>
    </div>

    <div class="tab-pane fade tab-content" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
      <%= render 'db_calendar'%>
    </div>

    <div class="tab-pane fade tab-content" id="roadmap" role="tabpanel" aria-labelledby="roadmap-tab">
      <%= render 'db_tasks'%>
    </div>

    <div class="tab-pane fade tab-content" id="chatroom" role="tabpanel" aria-labelledby="chatroom-tab">
      <div class="container-search container-search-chat">
        <div>
        <%= form_tag chat_room_path(@chat_room), method: :get, class: "form-inline my-2 my-lg-0 search-flex container-search-form", remote: true do %>
          <%= text_field_tag :query,
            params[:query],
            class: " form-control mr-sm-2 ",
            placeholder: "Find a message"
          %>
        </div>

        <div class="search-button-chat">
         <%= submit_tag "Search", class: " btn-rose my-2 my-sm-0", style: "font-size: 16px" %>
        <% end %>
        </div>
      </div>
     <div id="chat-room"> <%= render 'db_chatroom'%> </div>
    </div>

    <div class="tab-pane fade tab-content" id="fichiers" role="tabpanel" aria-labelledby="fichiers-tab">
      <%= render 'db_fichiers'%>
    </div>


  </div>

</div>

