<div class="project-cards">
  <div class="project-task-card border-top border-bottom">
    <%= cl_image_tag(task.user.image, width: 120, height: 120, gravity: :face, crop: :thumb, class: "avatar avatar-new") %>
    <div class="project-task-bandeau">
      <div class="colored-info">
        <% if task.priority_level == "Normale" %>
          <p class="task-status btn-yellow btn-basic top-left"> <%= task.priority_level%></p>
        <% elsif task.priority_level == "Prioritaire" %>
          <p class="task-status btn-red btn-basic top-left"> <%= task.priority_level%></p>
        <% else %>
          <p class="task-status btn-orange btn-basic top-left"> <%= task.priority_level%></p>
        <% end %>
        <p class="task-end btn-basic btn-calendar"><i class="far fa-clock task-clock"></i> <%= task.end_date.strftime('%d %b') %></p>
      </div>
      <p class="project-task-name"><%= task.name %></p>
    </div>
    <% if task.status == "A faire" && ((current_user == task.user) || @manager) %>
      <%= simple_form_for [@project, task] do |f| %>
        <button type="submit" name="commit" value="" class="hide-btn" data-disable-with="" onclick="return confirm('Es-tu sûr de vouloir archiver cette tâche ?');">
          <i class="fas fa-check-circle checked"></i>
        </button>
      <% end %>
    <% end %>
    <%= link_to '' , status_update_path(task), hidden: true, remote: true %>
  </div>
</div>


<!-- Ajouter un link to caché vers une route custom pour updater le statut -->
<!-- Stocker le statut dans un data-status  -->
<!-- Call back de drop, récupérer le statut  -->
<!-- En js rajouter au lien un param avec le statut type ?="status" -->
<!-- En js trigguer le link to qui est caché  -->
