<div class="yellow-banner">
  <%= image_tag 'yellow-wave.svg', class: "wave-bottom" %>
  <h1><%= @project.name %></h1>
</div>

<div class="container">
  <% if @project.status == 'En attente'%>
    <%= render 'pending' %>
  <% elsif @project.status == 'En cours' %>
    <%= render 'on_going' %>
  <% else %>
    <%= render 'finished' %>
  <% end %>
</div>

<%= render 'modal' %>
<%= render 'modal_event' %>
