<% content_for :meta_title, "Dashboard du projet '#{@project.name}'" %>

<div class="yellow-banner">
  <%= image_tag 'blue-wave.svg', class: "wave-bottom" %>
</div>

<div class="banner dashboard-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @project.image %>'); ">
  <div class="container">
    <h1><%= @project.name %></h1>
  </div>
</div>

<div class="container">
  <% if @project.status == 'En attente'%>
    <%= render 'pending' %>
  <% elsif @project.status == 'En cours' %>
    <%= render 'on_going' %>
  <% else %>
    <%= render 'finished' %>
  <% end %>
</div>

<%= render 'create_task_modal' %>
<%= render 'create_event_modal' %>
<%= render 'new_create_event_modal' %>
<%= render 'description_event_modal' %>
