<div class="container">

  <h1>Leurs projets, votre fierté</h1>

  <div class="row row-project-card d-flex">
    <% @projects.each do |project| %>
      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path project.image %>);">
            </div>
            <div class="blog-slider__content">
              <div class="blog-slider__code"> <h5> <%= project.name %> </h5></div>
              <div class="blog-slider__title"><%= project.charity.name %>
              </div>
              <div class="blog-slider__text"><%= truncate(project.description, length: 150) %></div>

              <%= link_to 'En savoir +', project_path(project), class: "blog-slider__button" %>
              <div class="status <%= project.status %>"></div>
            </div>
        </div>
      </div>
    <% end %>
  </div>

  </div>
    <div class="blog-slider__pagination"></div>
  </div>






</div>
