
<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
    <div class="col-3">
      <div class="projects-cards">
        <%= link_to project.name, project_path(project) %>
    <%= project.charity %>
    <%= project.description %>
    <%= project.development_goal %>
    <%= project.status %>
    <%= cl_image_tag project.image, height: 300, width: 300  %>
      </div>
    </div>
    <% end %>
  </div>



</div>

