this is the projects page
<div class="container">
  <% @projects.each do |project| %>
    <%= project.name %>
    <%= project.charity %>
    <%= project.description %>
    <%= project.development %>
    <%= project.skills %>
    <%= project.status %>
    <%= project.image %>
  <% end %>
</div>

