<h1><%= @project.name %></h1>
<p><%= @project.description %></p>



Un projet de <strong><%= @project.charity.name %></strong>
<br>
<hr>

<!-- join a project -->
<% @project.commitments.each do |commitment| %>
<%= commitment.skill %>
<%= link_to 'Devenir bénévole', edit_commitment_path(commitment) %>
<% end %>


