
<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<p> <%= @project.status %> </p>
<% if @project.status = "on going" %>
  <%= link_to "Dashboard du projet", project_dashboard_path(@project) %>
<% end %>

Un projet de <strong><%= @project.charity.name %></strong>
<br>
<hr>

<!-- join a project -->
<ul>
  <h4>Liste des compétences nécessaires : </h4>
<% @project.commitments.each do |commitment| %>
<li> <%= commitment.skill.name %>
 <% if commitment.user.nil? %>
 <%= simple_form_for(commitment) do |f| %>
    <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
    <%= f.submit "Devenir bénévole", class: "btn btn-primary" %>
  <% end %>
  <% else %>
   <%= commitment.user.name %>
   <%= cl_image_tag commitment.user.name, crop: :fill, width: 1000, gravity: :auto, radius: "max", aspect_ratio: "1:1"%>
<% end %>

 </li>
<% end %>
</ul>

<svg viewBox="0 0 361 329" class="current-resident-card"></svg>
<path fill="#C2E1BB" fill-rule="evenodd" d="M327.775 185.887c-100.942 116.027-98.05 152.438-194.445 140.61-96.395-11.828-62.76-60.837-118.302-170.13C-40.514 47.076 76.749-9.384 173.144 2.445 269.54 14.272 428.718 69.86 327.775 185.887z"></path>
