<% content_for :meta_title, "#{@project.name}" %>

<div class="yellow-banner">
  <%= image_tag 'blue-wave.svg', class: "wave-bottom" %>
</div>

<div class="banner project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path(@project.image, height: 400) %>'); ">
  <div class="container">
    <h1><%= @project.name %></h1>
    <p>Un projet de <em><%= @charity.name %></em></p>
  </div>
</div>

<div class="container project-view-container">

  <div class="project-view-charity">
    <div class="charity-logo-container">
      <%= cl_image_tag @charity.logo, width: 120, class: "charity-logo-image" %>
    </div>
    <h4>L'association</h2>
    <p><%= @charity.description %></p>
    <p>Référent.e :</p>
    <div class="charity-referent">
      <%= cl_image_tag(@charity.referent_image, width: 180, height: 180, gravity: :face, crop: :thumb, class: "avatar-120")
      %>
      <p><strong><%= @charity.referent_name %></strong>, <%= @charity.referent_position %></p>
    </div>
  </div>

  <div class="project-view-project">

    <p><em>Statut: <%= @project.status %></em></p>
    <p><%= @project.description %></p>
    <% if current_user && @project.status = "En cours" && @volunteers.include?(current_user)  %>
      <p class="btn-dashboard"><%= link_to "Accéder au tableau de bord du projet", project_dashboard_path(@project), class: "btn-black btn-dashboard" %></p>
    <% end %>

    <hr>

    <h2>L'équipe</h2>

    <button id="sweet-alert-button" class="d-none">Click me!</button>

    <ul class="volunteers-list">
      <% @project.commitments.each do |commitment| %>

        <li>

          <% if commitment.user %>
            <div class="avatar-container">
              <%= cl_image_tag(commitment.user.image, width: 180, height: 180, gravity: :face, crop: :thumb, class: "avatar-96") %>
              <div class="avatar-middle">
                <span><%= commitment.skill.name %></span>
              </div>
            </div>
          <% elsif !current_user %>
            <div type="submit" class="reset-css">
              <div class="avatar-container">
                <div class="empty-avatar">
                  <p class="reset-css submit-text"><%= link_to 'JOIN!', new_user_session_path, class: "reset-css" %></p>
                  <span class="empty-avatar-text"><%= commitment.skill.name %></span>
                </div>
              </div>
            </div>
          <% else commitment.user.nil? %>
            <%= simple_form_for(commitment, remote: true) do |f| %>
              <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
              <div type="submit" class="reset-css">
                <div class="avatar-container">
                  <div class="empty-avatar">
                    <%= f.submit "JOIN!", class: "reset-css submit-text"%>
                    <span class="empty-avatar-text"><%= commitment.skill.name %></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

       </li>

      <% end %>
    </ul>
  </div>

  <%= link_to '', project_path(@project), hidden: true, class: "hidden-link" %>

</div>
