<div class="container">
  <h1><%= @project.name %></h1>
  <p>Un projet de <strong><%= @project.charity.name %></strong></p>
  <p><%= @project.description %></p>
  <p class="btn btn-warning"><%= @project.status %></p>
  <% if current_user && @project.status = "on going" && @volunteers.include?(current_user)  %>
    <p><%= link_to "Accéder au tableau de bord du projet", project_dashboard_path(@project) %></p>
  <% end %>

  <ul class="d-flex">
    <% @project.commitments.each do |commitment| %>
      <li class="d-inline"><%= commitment.skill.name %>
        <% if commitment.user %>
          - Mission assurée par <%= commitment.user.name %>
          <%= cl_image_tag commitment.user.name, crop: :fill, width: 100, gravity: :auto, radius: "max", aspect_ratio: "1:1"%>
        <% elsif !current_user %>
          <%= link_to "Accepter cette mission", new_user_session_path %>
        <% else commitment.user.nil? %>
        <div class="empty-avatar"><%= commitment.skill.name %></div>
          <%= simple_form_for(commitment) do |f| %>
            <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
            <%= f.submit "Accepter cette mission", class: "btn btn-primary" %>
          <% end %>
        <% end %>
     </li>
    <% end %>
  </ul>

  <svg viewBox="0 0 361 329" class="current-resident-card"></svg>
  <path fill="#C2E1BB" fill-rule="evenodd" d="M327.775 185.887c-100.942 116.027-98.05 152.438-194.445 140.61-96.395-11.828-62.76-60.837-118.302-170.13C-40.514 47.076 76.749-9.384 173.144 2.445 269.54 14.272 428.718 69.86 327.775 185.887z"></path>
</div>
